.content-box-header
  %h3 Editing language
.content-box-content
  = form_for @language, :url => { :action => :update } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_languages_path ,:class => 'button'