.content-box-header
  %h3 Editing category
.content-box-content
  = form_for @article, :url => { :action => :update, method: :post, :multipart => true } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_articles_path(:id_cate => params[:id_cate]) ,:class => 'button'
