.content-box-header
  %h3 New article
.content-box-content
  = form_for @article, url: admin_articles_path, html: { method: :post, :multipart => true } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_articles_path ,:class => 'button'