#login-wrapper.png_bg
  #login-top
    %img#logo{:alt => "ATAN Solutions website", :src => "/assets/admin/logo.png"}
  #login-content
    .notification.information.png_bg
      %div Have you a nice day!!!