.content-box-header
  %h3 Editing article language
.content-box-content
  = form_for @article_language, :url => { :action => :update } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_article_path(:id=>params[:id_arti], :id_cate => params[:id_cate]) ,:class => 'button'