.content-box-header
  %h3 New article language
.content-box-content
  = form_for @article_language, url: admin_article_languages_path, html: { method: :post } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_article_path(:id=>params[:id_arti] ? params[:id_arti] : '') ,:class => 'button'