%section.page-title
  .title.pattern-default
    %h1
      =I18n.t("front_end.about_us.about_us")
    %span.subtitle
      =I18n.t("front_end.about_us.about_us_description")
/ page-title end
#content-container
  .content-wrapper.clearfix.multiple
    .container_12
      .grid_12
        = raw @about_us_article
        = raw @about_us_article_slide
        = raw @about_us_article_member
        .clear
  =raw @about_us_product_slide