%section.page-title
  .title.pattern-default
    %h1 Our projects
    %span.subtitle
      See the Latest News from Our Company
/ content wrapper start
#content-container
  / content wrapper start
  .content-wrapper.clearfix
    .container_12
      %section.grid_12.section-title
        %h3 Our projects
        / portfolio quicksand filter start
        %ul#portfolio-filter
          %li.active
            %a.all{href: "#"}> All
            \/
          %li
            %a.graphic-design{href: "#"}> Graphic design
            \/
          %li
            %a.motion-graphics{href: "#"}> Motion graphics
            \/
          %li
            %a.photography{href: "#"}> Photography
            \/
          %li
            %a.web-design{href: "#"} Web design
        / portfolio quicksand filter end
    / container_12 start
    .container_12
      / portfolio items list start
      %ul#filter-item
        %li.grid_4{"data-alpha" => "motion-graphics", "data-id" => "id-1"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: "our_projects_detail.htm"}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/creatt-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "our_projects_detail.htm", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: "our_projects_detail.htm"}
                  %p.title
                    One winged angel
                %p.subtitle
                  motion-graphics
        %li.grid_4{"data-alpha" => "web-design", "data-id" => "id-2"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: "our_projects_detail.htm"}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-218412-work-from-home-s-2-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "our_projects_detail.htm", title: "Top view of young woman working on laptop at home"} zoom
            %figcaption
              .caption-title
                %a{href: "our_projects_detail.htm"}
                  %p.title
                    Soul of the devil
                %p.subtitle
                  web-design
        %li.grid_4{"data-alpha" => "graphic-design", "data-id" => "id-3"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: "our_projects_detail.htm"}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/dragonfly_wing-1024x1024-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "our_projects_detail.htm", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Concept art
                %p.subtitle
                  graphic-design
        %li.clear
        %li.grid_4{"data-alpha" => "graphic-design", "data-id" => "id-4"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-220303-panoramic-view-of-beautiful-skyscrapers-and-river-s-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: "Panoramic view of beautiful architectural skyscrapers and river"} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Black winged angel
                %p.subtitle
                  graphic-design
        %li.grid_4{"data-alpha" => "photography", "data-id" => "id-5"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/sports-illustration-soccer-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Dark angel
                %p.subtitle
                  photography
        %li.grid_4{"data-alpha" => "web-design", "data-id" => "id-6"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-366741-flying-s-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: "Conceptual image of young business partners flying with parachutes on their backs"} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Winged angel 2
                %p.subtitle
                  web-design
        %li.clear
        %li.grid_4{"data-alpha" => "web-design", "data-id" => "id-7"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/The_Old_Farm_by_nuaHs-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Dark temptation
                %p.subtitle
                  web-design
        %li.grid_4{"data-alpha" => "web-design", "data-id" => "id-8"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-2297523-jet-liner-over-the-tropical-island-m-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: "Jet liner over the tropical island. Panoramic composition in very high resolution. HDR processed."} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Winged angel
                %p.subtitle
                  web-design
        %li.grid_4{"data-alpha" => "web-design", "data-id" => "id-9"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/portfolio41.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Simply beautiful
                %p.subtitle
                  web-design
        %li.clear
        %li.grid_4{"data-alpha" => "graphic-design", "data-id" => "id-10"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/blogpost5-930x610-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: ""} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Dark Godess
                %p.subtitle
                  graphic-design
        %li.grid_4{"data-alpha" => "graphic-design", "data-id" => "id-11"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-202687-smiling-cute-business-woman-with-colleagues-at-the-back-s-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: "Beautiful young business executive with colleagues discussing in the background"} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Work by streetx222
                %p.subtitle
                  graphic-design
        %li.grid_4{"data-alpha" => "photography", "data-id" => "id-12"}
          / portfolio figure with animation start
          %figure.portfolio
            .img-hover.overlay
              %a.portfolio-image{href: ""}
                %img{alt: "Portfolio Image", src: "http://pixel-industry.com/wordpress/pocket/wp-content/uploads/2013/02/photodune-1188346-belvedere-of-tuscany-s-1-460x296.jpg", width: "300"}/
              .mask
                %a.thumb.info{"data-gal" => "prettyPhoto[pp_gallery]", href: "", title: "Scenic view of typical Tuscany landscape"} zoom
            %figcaption
              .caption-title
                %a{href: ""}
                  %p.title
                    Simply amazing
                %p.subtitle
                  photography
        %li.clear
      / pagination start
      %ul
        %li.pagination.portfolio
          %ul.page-numbers
            %li
              %span.page-numbers.current 1
            %li
              %a.page-numbers{href: ""} 2
            %li
              %a.next.page-numbers{href: ""} »
    / container_12 end
  / content-wrapper end