%section.page-title
  .title.pattern-default
    %h1
      422 / Error
    %span.subtitle
      Unprocessable Entity
/ page-title end
.content-wrapper.clearfix
  .container_12
    %article.grid_12
      .error-content-container.clearfix
        %section.error-img-container.clearfix
          %p
            %span.star-mark *
            Oops! 422 Error.Unprocessable Entity...
          .error-img
        %section.search-area.clearfix
          %p The Page You Are Loking For Can Not Be Found
          %br
          %br
      %article.error-page-text
        %p
          Lid est laborum dolos rumes fustsirs sit untras. Et
          harums ser quidem sit rerums facilis est dolores uni
          nemis Lid est laborum dolos rumes fustsirs sit untras.
          Et harums ser quidem sit rerums facilis est dolores
          uni nemis . Lid est laborum dolos rumes fustsirs sit
          untras. Et harums ser quidem sit rerums facilis est
          dolores uni nemis Lid est laborum dolos rumes
          fustsirs sit untras. Et harums ser quidem sit rerums
          facilis est dolores uni nemis
  / container_12 end