.content-box-header
  %h3 Editing category language
.content-box-content
  = form_for @category_language, :url => { :action => :update } do |f|
    = render 'form', f: f
    %input.button{:type => 'submit', :value => 'Save'}
    = link_to 'Back', admin_category_path(:id=>@category_language.category.id) ,:class => 'button'